body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
}

.charCard{
  background-color: papayawhip;
  opacity:75%;
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: medium;
  text-shadow: 1px 1px 3px goldenrod;
  margin-top: 15px;
  padding:0.5%;
}

.planetCard{
  margin-top: 15px;
  padding:5% 2.5%;
}

.planet{
  background-image: url('http://wallpapercave.com/wp/pEeUsp1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starship{
  background-image: url('http://imageshack.com/a/img923/1620/BR6ySW.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.starshipCard{
  padding:2% 10%;
  width:200px;
}

.navlink{
  font-size: 24px;
  font-weight:bolder;
  margin-bottom: 4%;  
  margin-top: 2%;  
  }

.searchbar{
    color: goldenrod;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    width:18rem;
  }